{% load i18n %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if feed_page.has_previous %}
        <li class="page-item">
            {% comment %}<a href="?page=1">{% trans "first page" %}</a>{% endcomment %}
            <a class="page-link" href="?page={{ feed_page.previous_page_number }}">{%  trans "previous" %}</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="true">{%  trans "previous" %}</a>
        </li>
    {% endif %}

    <span class="current">
       &nbsp; {% trans "Page" %} {{ feed_page.number }} &nbsp;
    </span>

    {% if feed_page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ feed_page.next_page_number }}">{% trans "next" %}</a>
            {% comment %}<a href="?page={{ feed_page.paginator.num_pages }}">{% trans "last page" %}</a>{% endcomment %}
        </li>
    {% else %}
    <li class="page-item disabled">
            <a class="page-link" href="#">{% trans "next" %}</a>
        </li>
    {% endif %}
  </ul>
</nav>
<div class="row justify-content-center">
    <div class="col-md-6">
        <table id="id_link_table" class="table">
            {% for link in feed_page %}
                <tr>
                    <td>
                        <a href="{{ link.text }}">{{ link.title }}</a>
                        <br>
                        در <a href="http://{{ link.domain }}">{{ link.domain }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
