body * {
    text-align: center;
    direction: rtl;
}

.nav {
    font-size: larger;
}

.newLinkForm input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.newLinkForm input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newLinkForm input[type=submit]:hover {
  background-color: #45a049;
}

.newLinkForm img {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table * {
    text-align: right;
}

.align-right * {
    text-align: right;
}
