{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Frame" %}{% endblock %}
{% block head %}
        <link rel="stylesheet" href="/static/frame.css">
        {% comment %}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">{% endcomment %}
{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6 align-right">
            <br>
            <h4>عنصر Iframe</h4>
            <!-- iframe snippet -->
            <p>میتونید این قطعه کد اچ تی ام ال رو به سورس کد صفحه‌ی خودتون اضافه کنید.</p>
            <div style="font-size: small;direction: ltr; text-align: center;" ><code>&lt;iframe src="https://panjere-sehraramiz.fandogh.cloud/api/random/5"/&gt;</code></div>


            <!-- api refrence -->
            <h4>api</h4>
            <p>یا با ارسال درخواست GET به پایانه‌ی زیر لیستی ۵‌تایی و تصادفی
                از لینک‌ها به صورت json بگیرید
                و اونا رو به روش دلخواه در صفحتون نمایش بدید.</p>
            <a target="_blank" href="https://panjere-sehraramiz.fandogh.cloud/api/random/5/">https://panjere-sehraramiz.fandogh.cloud/api/random/5</a>
            </br>

            </br>
            <p>به عنوان نمونه میتونید سه قطعه کد زیر رو به وبسایتتون اضافه کنید.</p>
            <script src="https://gist.github.com/sehraramiz/fd0cf6c3e31b975278b1675c0141eb82.js"></script>

            <p>که از همین api استفاده میکنه و خروجیش به شکل زیر میشه</p>
            <img style="max-width:90%; border: 1px solid #ddd;" src="/static/api_sample.png"/>

            <h4>ویجت وردپرس</h4>
            <p>یا میتونید کدهای بالا رو در بخش ویجت‌ها، ویجت html سفارشی وردپرس اضافه کنید که لینک‌ها
                در کنار دیگر ویجت‌های وردپرسیتون نمایش داده شن.</p>
        </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
