{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block content %}

<div class="row justify-content-center align-right">
    <div class="col-md-6">
        {% include 'about-panjere.html' %}
    </div>
</div>

{% endblock %}
